.item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    &__separator {
        border: none;
        height: 1px;
        width: 170px;
        margin: 20px 0 20px 0;
        background: rgb(139, 139, 139);
        background: -webkit-gradient(radial,
                50% 50%,
                0,
                50% 50%,
                100,
                from(rgb(77, 77, 77)),
                to(#fff));
    }



    &__hour {
        font-size: 1.5em;
        font-weight: 600;
        margin: 10px 0 10px 0;
    }

    &__temp {
        font-size: 3em;
        font-weight: 500;
        margin: 0;
        color: rgb(24, 24, 238);
    }

    &__weather {
        height: 80px;
    }

    &__humidity {
        font-size: 1.4em;
        font-weight: 500;
        margin: 5px 0 0 0;
    }
}